<h1> Randall Ellefsen </h1>
<img src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/p/5/000/1f8/39e/23af18d.jpg">
<h2>Systems Architect</h2>
 <h3>Northrop Grumman</h3>
<p>I enjoy coding. I'm not the fastest, but I am familiar with quite a few languages and always enjoy learning a new one!</p>
<a href="https://www.linkedin.com/in/randy-ellefsen-82b774"> read more </a>