<h1> Randall Ellefsen </h1>
<a href="http://tinypic.com?ref=9asbk3" target="_blank"><img src="http://i44.tinypic.com/9asbk3.jpg" border="0" alt="Image and video hosting by TinyPic"></a>
<h2>Systems Architect</h2>
 <h3>Northrop Grumman</h3>
<p>I enjoy coding. I'm not very fast, but I am familiar with quitea few languages and always enjoy learning a new one!</p>
<a href="https://www.linkedin.com/in/randy-ellefsen-82b774"> read more </a>