<h1> Welcome to my Linked In profile! </h1>
<div class="profile">
<h1> Randall Ellefsen </h1>
<img src="160px-RLE.jpg">
<h2>Systems Architect</h2>
 <h3>Northrop Grumman</h3>
<p>I enjoy coding. I'm not the fastest, but I am familiar with quite a few languages and always enjoy learning a new one!</p>
<a href="https://www.linkedin.com/in/randy-ellefsen-82b774"> read more </a>
</div>
<img src="http://placekitten.com/g/50/50" />
